body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.cute{
    color: orange;
}
.flex-container{
    display: flex;
    margin-bottom: 120px;
}
.half-width{
    width: 50%;
    padding-left: 60px;
}
.half-width img{
    width: 100%;
}
p{
    margin-bottom: 25px;
}
.Hire-Button{
    text-decoration: none;
    background-image: linear-gradient(orange, orangered);
    color: white;
    font-weight: 400;
    padding: 10px 40px;
    border-radius: 8px;
}
.top-banner{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}
.Drem-big{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.Experience-area{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
   
}
.box-shadow{
    box-shadow: 10px 10px 50px gray;
    width: 44%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 20px;
}
.one{
    border-left: 5px solid;
    border-image: linear-gradient(blue, aqua);
    border-image-slice: 1;
}
.two{
    border-left: 5px solid;
    border-image: linear-gradient(deepPink, hotPink);
    border-image-slice: 1;
}
footer{
    text-align: center;
}